In [1]:
import pandas as pd

In [2]:
chars = pd.read_csv('StarWarsCharacters.csv')
chars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [3]:
plans = pd.read_csv('StarWarsPlanets.csv')
plans

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population
0,Alderaan,24.0,364.0,12500.0,temperate,1 standard,"grasslands, mountains",40.0,2.000000e+09
1,Yavin IV,24.0,4818.0,10200.0,"temperate, tropical",1 standard,"jungle, rainforests",8.0,1.000000e+03
2,Hoth,23.0,549.0,7200.0,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100.0,NaN
3,Dagobah,23.0,341.0,8900.0,murky,NaN,"swamp, jungles",8.0,NaN
4,Bespin,12.0,5110.0,118000.0,temperate,"1.5 (surface), 1 standard (Cloud City)",gas giant,0.0,6.000000e+06
...,...,...,...,...,...,...,...,...,...
56,Shili,NaN,NaN,NaN,temperate,1,"cities, savannahs, seas, plains",NaN,NaN
57,Kalee,23.0,378.0,13850.0,"arid, temperate, tropical",1,"rainforests, cliffs, canyons, seas",NaN,4.000000e+09
58,Umbara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Tatooine,23.0,304.0,10465.0,arid,1 standard,desert,1.0,2.000000e+05
60,Jakku,NaN,NaN,NaN,NaN,NaN,deserts,NaN,NaN

In [4]:
specs = pd.read_csv('StarWarsSpecies.csv')
specs

,name,classification,designation,average_height,skin_colors,hair_colors,eye_colors,average_lifespan,language,homeworld
0,Hutt,gastropod,sentient,300.0,"green, brown, tan",NaN,"yellow, red",1000,Huttese,Nal Hutta
1,Yoda's species,mammal,sentient,66.0,"green, yellow","brown, white","brown, green, yellow",900,Galactic basic,NaN
2,Trandoshan,reptile,sentient,200.0,"brown, green",none,"yellow, orange",NaN,Dosh,Trandosha
3,Mon Calamari,amphibian,sentient,160.0,"red, blue, brown, magenta",none,yellow,NaN,Mon Calamarian,Mon Cala
4,Ewok,mammal,sentient,100.0,brown,"white, brown, black","orange, brown",NaN,Ewokese,Endor
5,Sullustan,mammal,sentient,180.0,pale,none,black,NaN,Sullutese,Sullust
6,Neimodian,NaN,sentient,180.0,"grey, green",none,"red, pink",NaN,Neimoidia,Cato Neimoidia
7,Gungan,amphibian,sentient,190.0,"brown, green",none,orange,NaN,Gungan basic,Naboo
8,Toydarian,mammal,sentient,120.0,"blue, green, grey",none,yellow,91,Toydarian,Toydaria
9,Dug,mammal,sentient,100.0,"brown, purple, grey, red",none,"yellow, blue",NaN,Dugese,Malastare
10,Twi'lek,mammals,sentient,200.0,"orange, yellow, blue, green, pink, purple, tan",none,"blue, brown, orange, pink",NaN,Twi'leki,Ryloth
11,Aleena,reptile,sentient,80.0,"blue, gray",none,NaN,79,Aleena,Aleen Minor
12,Vulptereen,NaN,sentient,100.0,grey,none,yellow,NaN,vulpterish,Vulpter
13,Xexto,NaN,sentient,125.0,"grey, yellow, purple",none,black,NaN,Xextese,Troiken
14,Toong,NaN,sentient,200.0,"grey, green, yellow",none,orange,NaN,Tundan,Tund
15,Cerean,mammal,sentient,200.0,pale pink,"red, blond, black, white",hazel,NaN,Cerean,Cerea
16,Nautolan,amphibian,sentient,180.0,"green, blue, brown, red",none,black,70,Nautila,Glee Anselm
17,Zabrak,mammal,sentient,180.0,"pale, brown, red, orange, yellow",black,"brown, orange",NaN,Zabraki,Iridonia
18,Tholothian,mammal,sentient,NaN,dark,NaN,"blue, indigo",NaN,NaN,Tholoth
19,Iktotchi,NaN,sentient,180.0,pink,none,orange,NaN,Iktotchese,Iktotch
20,Quermian,mammal,sentient,240.0,white,none,yellow,86,Quermian,Quermia
21,Kel Dor,NaN,sentient,180.0,"peach, orange, red",none,"black, silver",70,Kel Dor,Dorin
22,Chagrian,amphibian,sentient,190.0,blue,none,blue,NaN,Chagria,Champala
23,Geonosian,insectoid,sentient,178.0,"green, brown",none,"green, hazel",NaN,Geonosian,Geonosis
24,Mirialan,mammal,sentient,180.0,"yellow, green","black, brown","blue, green, red, yellow, brown, orange",NaN,Mirialan,Mirial
25,Clawdite,reptilian,sentient,180.0,"green, yellow",none,yellow,70,Clawdite,Zolan
26,Besalisk,amphibian,sentient,178.0,brown,none,yellow,75,besalisk,Ojom
27,Kaminoan,amphibian,sentient,220.0,"grey, blue",none,black,80,Kaminoan,Kamino
28,Skakoan,mammal,sentient,NaN,"grey, green",none,NaN,NaN,Skakoan,Skako
29,Muun,mammal,sentient,190.0,"grey, white",none,black,100,Muun,Muunilinst
30,Togruta,mammal,sentient,180.0,"red, white, orange, yellow, green, blue",none,"red, orange, yellow, green, blue, black",94,Togruti,Shili
31,Kaleesh,reptile,sentient,170.0,"brown, orange, tan",none,yellow,80,Kaleesh,Kalee
32,Pau'an,mammal,sentient,190.0,grey,none,black,700,Utapese,Utapau
33,Wookiee,mammal,sentient,210.0,gray,"black, brown","blue, green, yellow, brown, golden, red",400,Shyriiwook,Kashyyyk
34,Droid,artificial,sentient,NaN,NaN,NaN,NaN,indefinite,NaN,NaN
35,Human,mammal,sentient,180.0,"caucasian, black, asian, hispanic","blonde, brown, black, red","brown, blue, green, hazel, grey, amber",120,Galactic Basic,Coruscant
36,Rodian,sentient,reptilian,170.0,"green, blue",NaN,black,NaN,Galactic Basic,Rodia